@import "tailwindcss";

@font-face {
  font-family: 'Jakarta';
  src: url('../src/assets/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Jakarta';
  src: url('../src/assets/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Manrope';
  src: url('../src/assets/fonts/Manrope-Light.ttf') format('truetype');
  font-style: normal;
}

body {
  background:#f9faff;
}


@theme {
  --color-background: hsl(var(--background));
  --color-banner-background: hsl(var(--banner-background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));

  --color-card: hsl(var(--card));

  --font-jakarta: Jakarta, "sans-serif";
  --font-manrope: 'Manrope', sans-serif;

  --text-tiny: 25px;
  --text-big: 70px;

}


@layer base {
  :root {
      --banner-background: radial-gradient(circle at 30% 40%, rgba(129, 140, 248, 0.2), transparent 60%),
      radial-gradient(circle at 80% 20%, rgba(199, 210, 254, 0.15), transparent 60%),
      linear-gradient(
        90deg,
        /* #0a0a36 0%,
        #1c1b5a 30%,
        #3b36d1 60%,
        #818cf8 85%,
        #c7d2fe 100% */

        #c7d2fe 0%,
        #818cf8 30%,
        #3b36d1 60%,
        #1c1b5a 85%,
        #0a0a36 100%
      );

  }
  
  .bg-banner {
    background: var(--banner-background);
    /* background-image: url(./assets/images/gradient.jpg);
    background-size: cover; */
  }
}


@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 620px) {
    max-width: 640px;
  }

  @media (width >= 768px) {
    max-width: 768px;
  }

  @media (width >= 1024px) {
    max-width: 1024px;
  }

  @media (width >= 1280px) {
    max-width: 1280px;
  }

  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.gradient-text {
  background: linear-gradient(
    to right, 
    #f4f6ff,
    #7D88FF,
    #f4f6ff,
    #7D88FF
  );

  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* animation: moveGradient 6s ease-in-out infinite; */
  display: inline-block;
}


p {
  font-weight: 300;
  margin-top: 25px;
}


.services-banner-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.services-banner {
  background: #ffffff;
  border-radius: 20px;
  padding: 30px;
  position: relative;
  /* top: -120px; superpone al banner de arriba */
  left: 0;
}

.about-container {
  border-radius: 20px;
  padding: 20px;
}