@font-face {
  font-family: Urbanist;
  src: url(../src/assets/fonts/Urbanist-Medium.ttf);
}

@import "tailwindcss";

@theme {
  --color-background: hsl(var(--background));
  --color-banner-background: hsl(var(--banner-background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));

  --color-card: hsl(var(--card));

  --font-urbanist: Urbanist, "sans-serif";

}


@layer base {
  :root {
    --banner-background: linear-gradient(180deg, #0c0639 0%, #312E81 40%, #6366F1 100%);
  }
  .bg-banner {
    background: var(--banner-background);
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 620px) {
    max-width: 640px;
  }

  @media (width >= 768px) {
    max-width: 768px;
  }

  @media (width >= 1024px) {
    max-width: 1024px;
  }

  @media (width >= 1280px) {
    max-width: 1280px;
  }

  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

